body {
	font-family: 'Open Sans', sans-serif !important;
	margin: 0;
}

/**** HERO CONTAINERS & PROMO IMAGES ****/

.kesl-top-container {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ), url("Assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.kesl-top-container-2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ), url("Assets/hero-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.kesl-hero-container {
  display: inline-block;
  position: relative;
  padding: 240px 30px 200px 0px;
}

.kesl-hero-container-2 {
  display: inline-block;
  position: relative;
  padding: 0px 0px 200px 0px;
  margin-top: 230px;
  width: 100%;
  overflow: hidden;
}

.kesl-main-promo-2 {
  padding-bottom: 200px;
}

.kesl-theme-shape {
  background-image: url("Assets/shape.svg");
  background-position: -520px -10px;
  background-repeat: no-repeat;
  background-size: 170%;
  margin-left: -50px;
}

#shape{
  position: absolute;
  height: 165px;
  right: 0;
  margin-right: -350px;
}

.kesl-main-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 90px;
  font-weight: 300;
  margin: 0px 120px 0px 185px;
}

.kesl-subtitle, .kesl-subtitle-2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
}

.kesl-subtitle {
  margin-left: 145px;
}

.kesl-subtitle-2 {
  float: right;
  margin-top: 140px;
  padding-right: 317px;
  width: 725px;
  right: 0;
}

.kesl-progress-text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 700;
  left: 0px;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
  top: 50%;
  width: 100%;
}

/**** HERO CONTAINERS & PROMO IMAGES END ****/

/**** NAVIGATION BAR ****/

.kesl-nav-container {
  background: rgba(0,0,0,1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /*Standard*/
  position: absolute;
  width: 100%;
  padding: 0px 0px 15px 0px;
}

.kesl-header {
  color: #ffffff;
  font-family: 'Lato Regular', sans-serif !important;
  font-size: 14px;
}

.kesl-header-title {
  float: left;
  margin-left: 28px;
  margin-top: 30px;
}

/** NAV BAR 2 **/

.kesl-nav-container-2 {
  background: #ee4949;
  display: block;
  width: 100%;
  height: 77px;
  padding: 0px 0px 15px 0px;
}

/** NAV BAR 2 END**/

/** DROP DOWN MENU **/

.hamburger-button {
  display: inline-block;
  padding: 31.5px 15px 0px 20px;
  z-index: 2;
  position: absolute;
}

.bar1, .bar2, .bar3 {
    width: 13px;
    height: 1px;
    background-color: #ffffff;
    margin: 3.6px 0;
    transition: 0.1s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 4px);
    -moz-transform: rotate(-45deg) translate(-3px, 4px);
    transform: rotate(-45deg) translate(-3px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -4px);
    -moz-transform: rotate(45deg) translate(-2px, -4px);
    transform: rotate(45deg) translate(-2px, -4px);
}

.drop-down-menu {
  z-index: 9;
  height: 122px;
  width: 214px;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  position: absolute;
  margin: 55px 0px 0px 27px;
  font-weight: 600;
  overflow: hidden;
  display: none;
}

.menu-item-list{
  text-align: left;
  margin-left: -30px;
}

#menu-item {
  color: #383838 !important;
  padding: 5px 155px 8px 0px;
}

#menu-item:hover {
  background: rgba(255, 255, 255, 0.8);
  padding: 6px 100% 8px 9px;
  margin-left: -9px;
  text-decoration: none;
}

/** DROP DOWN MENU END **/

/** HEADER BUTTONS **/

.kesl-header-buttons {
  display: table;
  float: right;
  margin-right: 28px;
  margin-top: 30px;
  vertical-align: center;
}

.kesl-header-signup-button, .kesl-header-login-button, .button-seperator {
  display: inline-block;
}

.button-seperator {
  padding: 0px 7px 0px 7px;
}

/** HEADER BUTTONS END **/
/**** NAVIGATION BAR END ****/

/**** CALL TO ACTION ****/

.kesl-CTA-container {
  background-color: #ee4949;
  display: inline-block;
  position: relative;
  width: 100%;
}

.kesl-newsletter-title {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-weight: 400;
  padding: 30px 0px 15px 0px;
  text-align: center;
}

#newsletter, #CTA-email, #CTA-email-2 {
  text-align: center;
}

#newsletter {
  padding-bottom: 50px;
}

#CTA-email, #CTA-email-2 {
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  color: #cfcfcf;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  height: 60px;
  width: 460px;
}

input {
  outline: none;
}

.newsletter-submit-success {
  color: #ffffff;
  display: none;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  padding: 75px 0px 30px 0px;
  text-align: center;
}

/**** CALL TO ACTION END ****/

/**** CONTENT CONTAINER - SHARED ****/

.kesl-content-container {
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  width: 100%;
}

.content-title {
  color: #ee4949;
  display: inline-block;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 15px;
}

/**** CONTENT CONTAINER - SHARED END ****/

/**** CONTENT - INDEX ****/

.kesl-card-container {
  display: table;
  width: 100%;
  padding: 100px 0px 100px 12%;
  text-align: left;
}

.kesl-content-card {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.kesl-content-title {
  display: block;
  color: #383838;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 60px;
  font-weight: 300;
}

#shape-UI {
  width: 75px;
  height: auto;
  padding: 10px 0px 15px 0px;
}

.kesl-content-body {
  color: #383838;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 150px 0px 0px;
}

/** CAROUSEL **/

.kesl-carousel-container {
  display: block;
  width: 600px;
  height: 35em;
  position: relative;
  margin: 0 auto;
}

section {
  margin-left: -15px;
}

.items {
  width: 500px;
  height: 381px;
  background: #333;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  position: absolute;
}

.items p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;
}

.left-pos {
  opacity: .3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

/** CAROUSEL END **/
/**** CONTENT - INDEX END ****/

/**** CONTENT - TIMELINE ****/

.kesl-card-container-2 {
  width: 100%;
  padding: 100px 0px 100px 12%;
  text-align: center;
}

.timeline-svg{
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

.kesl-timeline-info-container {
  position: absolute;
  width: 100%;
  display: table;
  overflow: hidden;
}

.kesl-timeline-date:nth-child(1) {
  text-align: right;
  float: left;
  width: 50%;
  height: 500px;
  padding-right: 100px;
  padding-left: 250px;
  padding-top: 40px;
}

.kesl-timeline-date:nth-child(3) {
  text-align: left;
  float: right;
  width: 50%;
  height: 300px;
  padding-right: 250px;
  padding-left: 100px;
}

.kesl-timeline-date:nth-child(5) {
  text-align: right;
  float: left;
  width: 50%;
  height: 500px;
  padding-right: 100px;
  padding-left: 250px;
}


.kesl-timeline-info:nth-child(2) {
  text-align: left;
  float: right;
  width: 50%;
  height: 500px;
  padding-left: 100px;
  padding-right: 250px;
  padding-top: 25px;
}

.kesl-timeline-info:nth-child(4) {
  text-align: right;
  float: left;
  width: 50%;
  height: 300px;
  padding-right: 100px;
  padding-left: 250px;
}

.kesl-timeline-info:nth-child(6) {
  text-align: left;
  float: right;
  width: 50%;
  height: 500px;
  padding-left: 100px;
  padding-right: 250px;
}

.date-title {
  font-family: 'Lato Light', sans-serif !important;
  font-size: 70px;
  font-weight: 400;
  line-height: 45px;
}

.date-date{
  font-family: 'Lato Light', sans-serif !important;
  font-size: 40px;
  font-weight: 400;
}

.kesl-timeline-info {
  font-family: 'Lato Light', sans-serif !important;
  font-size: 20px;
  font-weight: 400;
}
/**** CONTENT - TIMELINE END ****/

/**** CONTENT - ABOUT US ****/

.about-content-top-container {
  display: block;
  font-family: 'Open Sans', sans-serif !important;
  position: relative;
  width: 900px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}

.about-content-text-container {
  color: #b8b8b8;
  display: inline-block;
  font-size: 18px;
  overflow: hidden;
  width: 900px;
}

.about-content-main-text {
  line-height: 19px;
  width: 50%;
}

.about-content-main-text:nth-child(1) {
  float: left;
  padding-right: 50px;
}

.about-content-main-text:nth-child(2) {
  float: right;
  padding-left: 50px;
}

.about-content-bottom-container {
  display: table;
  font-family: 'Open Sans', sans-serif !important;
  position: relative;
  width: 950px;
  margin: auto;
  padding-bottom: 100px;
}

.content-section {
  width: 310px;
  display: inline-block;
  padding: 35px 25px 50px 15px;
}

.about-shape-motif {
  text-align: center;
  padding-bottom: 30px;
  margin-right: -25px;
  margin-left: -10px;
}


#about-motif{
  width: 75%;
  height: 75%;
}

.content-section-text {
  padding: 10px 20px 10px 25px;
  color: #b8b8b8;
  font-size: 18px;
  line-height: 19px;
}

/**** CONTENT - ABOUT US END ****/

/**** CONTENT - CONTACT ****/

.kesl-contact-container {
  display: block;
  font-family: 'Open Sans', sans-serif !important;
  margin: auto;
  position: relative;
  text-align: center;
  width: 900px;
  padding: 120px 0px 100px 0px;
}

#contact-form {
  text-align: center;
  padding-top: 60px;
}

#contact-name, #contact-email {
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  color: #b8b8b8;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  height: 60px;
  margin-bottom: 35px;
  padding: 0px 30px 0px 30px;
  text-align: center;
  width: 460px;
}

#contact-message {
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  color: #b8b8b8;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  height: 60px;
  margin-bottom: 60px;
  padding: 15px 30px 0px 30px;
  text-align: center;
  width: 460px;
}

textarea::-webkit-input-placeholder {
color: #b8b8b8;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #b8b8b8;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #b8b8b8;  
}

textarea:-ms-input-placeholder {
color: #b8b8b8;  
}

#contact-submit {
  background-color: #ee4949;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-weight: 400;
  height: 70px;
  margin-bottom: 35px;
  text-align: center;
  width: 460px;
}
/**** CONTENT - CONTACT END ****/

/**** CONTENT - FAQ ****/

#kesl-faq {
  font-family: 'Open Sans', sans-serif !important;
  padding: 100px 20% 50px 20%;
}

#kesl-faq-item {
  color: #ee4949;
  font-size: 30px;
}

.kesl-faq-answer {
  color: #b8b8b8;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px 45px 0px;
  margin-left: -30px;
}

.more-faq-link {
  float: right;
  padding: 0px 10% 70px 0px;
}

.kesl-faq-more {
  display: inline-block;
}

#kesl-faq-more {
  color: #ee4949 !important;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.more-faq-arrow {
  font-size: 41.97px;
  float: right;
  padding-left: 15px;
  margin-top: -12px;
}

/**** CONTENT - FAQ END ****/

/**** CONTENT - REGISTRATION ****/

.kesl-signup {
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 60px;
}

.kesl-signup-title {
  font-size: 30px;
  color: #ee4949;
  padding-bottom: 15px;
}

.signup-social-media-container {
  padding-bottom: 50px;
}

.signup-email-container {
  padding-bottom: 105px;
  display: block;
  font-family: 'Open Sans', sans-serif !important;
  margin: auto;
  position: relative;
  text-align: center;
  width: 900px;
}

#registration-form {
  text-align: center;
}

#username, #email, #confirm-email, #password, #confirm-password {
  border-width: 1px;
  border-color: rgba(0,0,0,.2);
  color: #b8b8b8;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  height: 60px;
  margin-top: 35px;
  padding: 0px 30px 0px 30px;
  text-align: center;
  width: 460px;
}

::placeholder { 
  color: #b8b8b8; 
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b8b8b8; 
  text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b8b8b8; 
  text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b8b8b8; 
  text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b8b8b8; 
  text-align: center;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #b8b8b8; 
  text-align: center;
}

input[type="checkbox"], label {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  line-height: 20px;
  height: 18px;
  margin-top: 55px;
}

input[type="checkbox"] {
  width: 50px;
  vertical-align: -2px;
}

#registration-submit {
  background-color: #ee4949;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-weight: 400;
  height: 70px;
  margin-top: 70px;
  margin-bottom: 45px;
  text-align: center;
  width: 460px;
}

.error {
    display: none;
    font-family: 'Open Sans', sans-serif !important;
    color: #ea4135;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}

/**** CONTENT - REGISTRATION END ****/

/**** CONTENT - PLAYER PROFILE ****/

.profile-header {
  position: relative;
  padding: 50px 0px 30px 0px;
}

.profile-motif {
  float: left;
}

.profile-title-text {
  margin-left: 370px;
  margin-top: -18px;
}

.profile-player-title {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 60px;
  font-weight: 300;
  padding-bottom: 25px;
}

.profile-player-sub-title {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  padding-top: 8px;
}

.profile-content {
  padding: 20px 0px 50px 370px;
}

.player-profile-mmr {
  width: 100%;
}

.player-ranking-title {
  color: #ee4949;
  float: left;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  line-height: 30px;
  width: 100px;
}

.player-mmr {
  color: #ee4949;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 80px;
  font-style: bold;
  font-weight: 600;
  line-height: 50px;
  margin-left: 175px;
  width: 100px;
}

.player-roles-container {
  padding: 35px 0px 35px 0px;
  width: 100%;
}

.player-roles {
  display: block;
  padding-bottom: 55px;
}

.profile-end-motif, .profile-end-shape {
  display: inline-block;
}

.profile-end-shape-text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif !important;
  margin-left: 15px;
  margin-top: -115px;
  position: absolute;
}

.player-role-first {
  display: block;
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
}

.player-main-role {
  display: inline-block;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  margin-left: 5px;
}

.player-main-position-number {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-left: 5px;
}

.profile-main-hero-1 {
  display: inline-block;
  margin-left: -53px;
}

.profile-main-hero-2, .profile-main-hero-3 {
  display: inline-block;
  margin-left: -49px;
}

.profile-main-hero-1-WR, .profile-main-hero-2-WR, .profile-main-hero-3-WR {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}

.profile-main-hero-1-WR {
  margin-left: 200px;
}

.profile-main-hero-2-WR, .profile-main-hero-3-WR {
  margin-left: 100px;
}

.player-role-second {
  display: block;
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
}

.player-secondary-role {
  display: inline-block;
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
  margin-left: 5px;
}

.player-secondary-position-number {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-left: 5px;
}

.profile-secondary-hero-1 {
  display: inline-block;
  margin-left: -53px;
}


.profile-secondary-hero-2, .profile-secondary-hero-3 {
  display: inline-block;
  margin-left: -49px;
}

.profile-secondary-hero-1-WR, .profile-secondary-hero-2-WR, .profile-secondary-hero-3-WR {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}

.profile-secondary-hero-1-WR {
  margin-left: 200px;
}

.profile-secondary-hero-2-WR, .profile-secondary-hero-3-WR {
  margin-left: 100px;
}

.dotabuff-player-profile {
  background: #ee4949;
  display: inline-block;
  font-size: 21px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  width: 150px;
  padding: 5px 0px 5px 0px;
}

.opendota-player-profile {
  background: #ee4949;
  display: inline-block;
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  margin-left: 10px;
  text-align: center;
  width: 150px;
  padding: 5px 0px 5px 0px;
}

/**** CONTENT - PLAYER PROFILE END ****/

/**** CONTENT - TEAM PROFILE ****/

.tprofile-links {
  margin-left: 373px;
  padding-bottom: 50px;
}

.request-scrim-button {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  color: #ee4949;
  outline: #ee4949 solid;
  padding: 0px 5px 0px 5px;
  width: 150px;
}

.social-media-icon-team-container {
  margin-left: 180px;
  margin-top: -37px;
}

#social-media-icon-team svg {
  fill: #ee4949;
  height: 45px;
  width: 45px;
}

#social-media-icon-team {
  padding: 0px 5px 0px 5px;
}

.team-profile-overview {
  font-family: 'Open Sans Bold', sans-serif !important;
  font-size: 30px;
  font-weight: 600;
  color: #ee4949;
  padding-bottom: 30px;
}

.team-mmr {
  display: inline-block;
  width: 200px;
}

.team-win-rate {
  display: inline-block;
  width: 60px;
  margin-left: 45px;
}

.team-player-count {
  display: inline-block;
  width: 300px;
  margin-left: 175px;
}

.team-player-roles {
  display: block;
}

.team-player-1 {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.team-profile-main-hero-2 {
  display: inline-block;
  margin-left: -65px;
}

.team-profile-main-hero-3, .team-profile-main-hero-4, .team-profile-main-hero-5 {
  display: inline-block;
  margin-left: -49px;
}

.current-selector {
  padding-bottom: 10px;
}

#selector-1 {
  margin-right: 17px;
}

#selector-2, #selector-3, #selector-4, #selector-5 {
  display: none;
  margin-right: 19px;
}

#selector-2 {
  margin-left: 145px;
}

#selector-3 {
  margin-left: 305px;
}

#selector-4 {
  margin-left: 460px;
}

#selector-5 {
  margin-left: 615px;
}

.team-player-details {
  background-color: rgba(247,139,139,0.1);
  height: 400px;
  margin-bottom: 40px;
  width: 810px;
}

.player-information-card-1, .player-information-card-2, .player-information-card-3 {
  display: inline-block;
  color: #ee4949;
  height: 500px;
  overflow: hidden;
  width: 250px;
}

.team-player-title-1, .team-player-title-2, .team-player-title-3 {
  font-family: 'Open Sans Bold', sans-serif !important;
  font-size: 30px;
  padding: 70px 30px 15px 50px;
}

.team-player-information-1, .team-player-information-2, .team-player-information-3 {
  font-family: 'Open Sans Regular', sans-serif !important;
  font-size: 12px;
  padding: 0px 30px 30px 50px;
}

.player-2-details, .player-3-details, .player-4-details, .player-5-details {
  display: none;
}

/**** CONTENT - TEAM PROFILE END ****/

/**** FOOTER ****/

.kesl-footer-container {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.kesl-social-media {
  color: #383838;
  display: block;
  padding: 30px 30px 30px 30px;
}

#social-media-icon svg {
  fill: #ee4949;
  height: 45px;
  width: 45px;
}

#social-media-icon {
  padding: 0px 30px 0px 30px;
}

.kesl-footer-links {
  display: block;
  width: 100%;
}

.kesl-left-column-links {
  display: inline-block;
  font-family: 'Lato Regular', sans-serif !important;
  font-size: 12px;
  font-weight: 400;
  margin-left: -40px;
  margin-right: 14px;
  text-align: left;
  vertical-align: top;
  width: 250px;
}

.kesl-right-column-links {
  display: inline-block;
  font-family: 'Lato Light', sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  vertical-align: top;
  width: 250px;
}

li {
  padding: 5px 0px 5px 0px;
}

#footer-link {
  color: #383838 !important;
}

.kesl-footer-title {
  font-family: 'Lato Regular', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  float: left;
  margin: 5px 0px 10px 28px;
}

a, a:link, a:hover, a:visited {
  color: white !important;
  text-decoration: none !important;
}

/**** FOOTER END ****/